<div>
  <div class="notfound row pt-5">
    <div class="error-content">
      <h2>ERROR</h2>
      <h1>404</h1>
      <h3>Not Found</h3>
      <a href="/">
        <button class="btn btn-primary btn-block mt-3 px-5">Home</button>
      </a>
    </div>
  </div>
</div>
