:root {
  --box-shadow: 3px 3px 7px rgba(165, 165, 165, 0.4);
  --box-shadow-active: 3px 3px 11px rgba(199, 199, 199, 0.7);
  --fs-s: 0.5rem;
  --fs-m: 0.8rem;
  --fs-l: 1.5rem;
}

/* General Styles */
/* Header */
.header {
  min-height: 20vh;
  width: 100vw;
  background-image: url("../res/header_dashboard_default.jpg");
  background-repeat: no-repeat;
  background-size: 150%;
  object-fit: cover;
}

/* Footer */
.footer {
  position: fixed;
  min-height: 5vh;
  bottom: 0;
  width: 100%;
  font-size: var(--fs-s);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > * {
  margin: 0;
}

/* Login Screen */
.bkg-login {
  background-image: url("../res/bg_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  box-shadow: inset 100vh 100vw rgba(0, 0, 0, 0.3);
}

/* Login Card */
.login-card {
  opacity: 0.85;
}

/*Error - 404*/
.error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-content button {
  opacity: 0.85;
}

.error-content h2 {
  font-size: 2rem;
}

.error-content h1 {
  font-size: 8rem;
}

a,
button {
  cursor: pointer;
}

/*******************************************/

/* Mobile View */
/* Dashboard */
.dashboard-container {
  position: relative;
  height: 80vh;
  overflow-x: hidden;
}

.dashboard {
  height: 80vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

/* Dashboard Header Section */
.dashboard-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.dashboard-header p {
  margin: 0;
}

.dashboard-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  font-size: 3.2rem;
  cursor: pointer;
}

/* Mobile Menue - Mydata */
.menue-container {
  position: absolute;
  background-color: #fff;
  z-index: 100;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  color: rgb(63, 63, 63);
  transition: transform 350ms ease-in-out;
}

.menue-container-expanded {
  transform: translateX(-100%);
}

.mydata-container {
  height: 100%;
  z-index: 50;
}

.mydata-details {
  height: 80%;
  display: flex;
  gap: 1rem;
}

.mydata-details p {
  margin-bottom: 0.3rem !important;
}

.menue-close {
  font-size: 1.4rem;
  padding: 0rem 1rem;
  cursor: pointer;
}

.logout {
  text-align: center;
}

/* Story Section */
.dashboard-stories {
  height: 60vh;
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0rem 1rem;
}

.dashboard-stories h4 {
  margin-bottom: 0.7rem !important;
}

.stories-ctrl-container {
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: var(--bs-body-bg);
  min-height: 7rem;
}

.stories-ctrl-container h4 {
  font-size: 1.3rem;
}

.stories-control {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 0.3rem;
}

.stories-control a {
  font-size: var(--fs-m);
}
.stories-container {
  padding: 0.4rem;
}

.story {
  width: 95%;
  height: 20rem;
  margin: auto;
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.story-details {
  display: flex;
  flex-wrap: wrap;
  min-height: 10rem;
  margin-bottom: 2rem;
  overflow: hidden;
  overflow-y: scroll;
}

.story-details p {
  white-space: pre-wrap;
}

.story:is(:hover, :focus) {
  box-shadow: var(--box-shadow-active);
}

.story h5 {
  margin-bottom: 1.5rem;
  position: relative;
  pointer-events: none;
}

.story h5::after {
  content: "";
  position: absolute;
  top: 125%;
  left: 0;
  width: 75%;
  border-radius: 50%;
  height: 0.2rem;
  opacity: 0.2;
  background-color: #fff;
}

.story:hover ::after {
  animation: story-anim 450ms ease-in-out forwards;
}

.story p {
  font-size: var(--fs-m);
  margin: 0;
}

.story-btn-ctrl {
  text-align: right;
}

.story-link {
  text-decoration: none;
  color: inherit;
}

.story-link:hover {
  color: inherit;
}

.story-timestamp {
  font-size: var(--fs-s);
}

/*******************************************/

/* Desktop View */
@media screen and (min-width: 768px) {
  /* Dashboard */
  .dashboard-container {
    height: 75vh;
  }

  .dashboard {
    height: 100%;
    width: 100%;
  }

  /* Dashboard Header Section */
  .dashboard-header {
    margin-bottom: 0 !important;
  }

  .dashboard-user {
    width: 7rem;
    align-items: flex-start;
    font-size: 4.5rem;
    padding: 1rem;
  }

  .mydata-details p {
    margin-bottom: 0.2rem !important;
  }

  .logout {
    margin-top: 2rem;
  }

  /* Story Section */
  .dashboard-stories {
    height: 55vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .stories-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 0.5rem 0;
  }

  .story {
    min-height: 25rem;
  }

  .story-details {
    height: 15rem;
  }

  .stories-ctrl-container h4 {
    font-size: 1.5rem;
  }
}

/*******************************************/

/* Animations */

@keyframes story-anim {
  100% {
    width: 75%;
  }
  50% {
    width: 0;
  }
}

/*******************************************/
