<!--Error message duplicate email-->
<% if(typeof error !=="undefined" ) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>

<!--Succesful registration message-->
<% if(successMsg !="" ) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= successMsg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>

<!--Error message-->
<% if(errorMsg !="" ) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= errorMsg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<%}%>
